video{
	position: absolute;
	width:100%;
	top:0px;
	z-index: -999;
}
.theirVideo{
	z-index: -1000;
}
.myVideo{
	filter:invert(1.0);
	opacity: 0.5;

}

div.connection{
	width: 66px;
	height: 66px;
}

div.connection[isConnected="false"] {
  background-color: red;
}

div.connection[isConnected="true"] {
  background-color: green;
}

